In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

In [3]:
iris = load_iris()
feature_names = load_iris().feature_names
X = pd.DataFrame(iris.data, columns = iris.feature_names)
y= iris.target

In [4]:
selector = SelectKBest(score_func=f_classif,k=2)

In [5]:
X_new = selector.fit_transform(X,y)

In [6]:
pd.DataFrame({'features' : feature_names, \
    'Scores' : selector.scores_, \
    'p-values' : selector.pvalues_})

            features       Scores      p-values
0  sepal length (cm)   119.264502  1.669669e-31
1   sepal width (cm)    49.160040  4.492017e-17
2  petal length (cm)  1180.161182  2.856777e-91
3   petal width (cm)   960.007147  4.169446e-85