In [22]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import SelectKBest

import pandas as pd
from sklearn.datasets import load_iris

In [23]:
iris = load_iris()
feature_names = load_iris().feature_names
X = pd.DataFrame(iris.data, columns = feature_names)
y = iris.target

In [24]:
selector = SelectKBest(score_func=mutual_info_classif, \
    k=2)
X_new = selector.fit_transform(X,y)

In [25]:
pd.DataFrame({'features' : X.columns.values,\
    'Scores' : selector.scores_})

            features    Scores
0  sepal length (cm)  0.485201
1   sepal width (cm)  0.289087
2  petal length (cm)  0.991594
3   petal width (cm)  0.984254