In [1]:
import pandas as pd

from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder

In [2]:
Table = { \
    'Customer-ID': [1, 2, 3, 4, 5], \
    'Gender':['M', 'F', 'M', 'F', 'F'], \
    'Work-type': [1, 2, 2, 3, 3], \
    'Client-satisfaction':[3, 0, 4, 3, 5], \
    'Number-occupants': [2, 4, 2, 1, 2], \
    'Consumption': [70, 140, 65, 40, 65]}

In [3]:
TDF = pd.DataFrame(data = Table)

In [4]:
TDF

,Customer-ID,Gender,Work-type,Client-satisfaction,Number-occupants,Consumption
0,1,M,1,3,2,70
1,2,F,2,0,4,140
2,3,M,2,4,2,65
3,4,F,3,3,1,40
4,5,F,3,5,2,65

In [5]:
TDF['Gender'] = LabelEncoder().fit_transform(TDF['Gender'])

In [6]:
TDF['Gender']

0    1
1    0
2    1
3    0
4    0
Name: Gender, dtype: int32

In [7]:
TDF

,Customer-ID,Gender,Work-type,Client-satisfaction,Number-occupants,Consumption
0,1,1,1,3,2,70
1,2,0,2,0,4,140
2,3,1,2,4,2,65
3,4,0,3,3,1,40
4,5,0,3,5,2,65

In [8]:
TDF = pd.DataFrame(data=Table)

In [9]:
print(TDF.dtypes)

Customer-ID             int64
Gender                 object
Work-type               int64
Client-satisfaction     int64
Number-occupants        int64
Consumption             int64
dtype: object

In [10]:
TDF['Work-type'] = TDF['Work-type'].\
    astype(str)
TDF['Client-satisfaction'] = TDF['Client-satisfaction'].\
    astype(str)

print(TDF.dtypes)

Customer-ID             int64
Gender                 object
Work-type              object
Client-satisfaction    object
Number-occupants        int64
Consumption             int64
dtype: object

In [11]:
TDF_1hot = pd.get_dummies(TDF)

In [12]:
print(list(TDF_1hot.columns))

['Customer-ID', 'Number-occupants', 'Consumption', 'Gender_F', 'Gender_M', 'Work-type_1', 'Work-type_2', 'Work-type_3', 'Client-satisfaction_0', 'Client-satisfaction_3', 'Client-satisfaction_4', 'Client-satisfaction_5']

In [13]:
TDF_1hot

,Customer-ID,Number-occupants,Consumption,Gender_F,Gender_M,Work-type_1,Work-type_2,Work-type_3,Client-satisfaction_0,Client-satisfaction_3,Client-satisfaction_4,Client-satisfaction_5
0,1,2,70,False,True,True,False,False,False,True,False,False
1,2,4,140,True,False,False,True,False,True,False,False,False
2,3,2,65,False,True,False,True,False,False,False,True,False
3,4,1,40,True,False,False,False,True,False,True,False,False
4,5,2,65,True,False,False,False,True,False,False,False,True