In [1]:
import pandas as pd

from sklearn.preprocessing import PolynomialFeatures

In [2]:
Table = {'Gender': ['M','F','M','F','F','M', 'F', 'M'], \
         'Science-Grant': ['Y', 'N', 'Y', 'N', \
             'Y', 'N', 'N', 'N']}

TDF = pd.DataFrame(data = Table)

In [3]:
TDF

  Gender Science-Grant
0      M             Y
1      F             N
2      M             Y
3      F             N
4      F             Y
5      M             N
6      F             N
7      M             N

In [4]:
TDF = pd.get_dummies(TDF)

In [5]:
TDF

   Gender_F  Gender_M  Science-Grant_N  Science-Grant_Y
0     False      True            False             True
1      True     False             True            False
2     False      True            False             True
3      True     False             True            False
4      True     False            False             True
5     False      True             True            False
6      True     False             True            False
7     False      True             True            False

In [6]:
pf = PolynomialFeatures(degree = 2,\
    interaction_only = True, include_bias=False).\
        fit(TDF[['Gender_F','Science-Grant_N']])

int_feat = pf.transform(TDF[['Gender_F',\
    'Science-Grant_N']])

In [7]:
int_feat

array([[0., 0., 0.],
       [1., 1., 1.],
       [0., 0., 0.],
       [1., 1., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 1., 1.],
       [0., 1., 0.]])

In [8]:
fem_x_grant = pd.DataFrame(int_feat,\
    columns = ['Gender_F','Science-Grant_N', 'FxGrant'])

In [9]:
fem_x_grant

   Gender_F  Science-Grant_N  FxGrant
0       0.0              0.0      0.0
1       1.0              1.0      1.0
2       0.0              0.0      0.0
3       1.0              1.0      1.0
4       1.0              0.0      0.0
5       0.0              1.0      0.0
6       1.0              1.0      1.0
7       0.0              1.0      0.0

In [10]:
print(fem_x_grant['FxGrant'].mean(0))

0.375

In [14]:
pf = PolynomialFeatures(degree=2, \
    interaction_only=True, include_bias=False).\
        fit(TDF[['Gender_M','Science-Grant_N']])
int_feat = pf.transform(TDF[['Gender_M', \
    'Science-Grant_N']])

In [15]:
male_x_grant = pd.DataFrame(int_feat, \
    columns = ['Gender_M', 'Science-Grant_N', 'MxGrant'])

In [16]:
print(male_x_grant['MxGrant'].mean(0))

0.25