In [1]:
import pandas as pd

In [2]:
Table = { \
    'Customer-ID': [1, 2, 3, 4, 5], \
    'Gender':['M', pd.NA, 'M', 'F', 'F'], \
    'Work-type': [1, 2, 2, 3, 3], \
    'Client-satisfaction':[3, 0, 4, 3, 5], \
    'Number-occupants': [2, 4, 2, 1, 2], \
    'Consumption': [70, 140, 65, 40, 65]}

In [3]:
TDF = pd.DataFrame(data =Table)

In [4]:
print(TDF.isnull().sum())

Customer-ID            0
Gender                 1
Work-type              0
Client-satisfaction    0
Number-occupants       0
Consumption            0
dtype: int64

In [5]:
TDF = TDF.fillna(TDF['Gender'].value_counts().index[0])
print(TDF.isnull().sum())

Customer-ID            0
Gender                 0
Work-type              0
Client-satisfaction    0
Number-occupants       0
Consumption            0
dtype: int64

In [6]:
TDF

,Customer-ID,Gender,Work-type,Client-satisfaction,Number-occupants,Consumption
0,1,M,1,3,2,70
1,2,M,2,0,4,140
2,3,M,2,4,2,65
3,4,F,3,3,1,40
4,5,F,3,5,2,65